{
	"presets": [
		[
			"env",
			{
				"targets": {
					"node": 6
				},
				"useBuiltIns": true
			}
		],
		"stage-0",
		"es2015",
		"react"
	],
	"plugins": [
		"add-module-exports",
		"dynamic-import-webpack"
	],
	"env": {
		"production": {
			"presets": [
				"react-optimize"
			],
			"plugins": [
				"transform-class-properties",
				"transform-es2015-classes",
				"babel-plugin-dev-expression"
			]
		},
		"development": {
			"presets": [
				"react-hmre"
			],
			"plugins": [
				"transform-class-properties",
				"transform-es2015-classes",
				"react-hot-loader/babel"
			]
		}
	}
}
